* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  background: #000000;
}

body.locked {
  overflow: hidden;
}

main {
  margin-top: 102px;
}

.btn {
  background-color: #F3C436;
  padding: 13px 50px;
  line-height: 34px;
  color: #292626;
  font-weight: 700;
}

.btn:hover {
  background-color: #f8d25f;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.title {
  font-family: "Libre";
  font-size: 90px;
  line-height: 125%;
}

.title span {
  background: -o-linear-gradient(359.23deg, #9A611C 5.58%, #F3C436 31.97%, #FFFFFF 53.09%, #F3C436 70.42%, #9A611C 97.21%);
  background: linear-gradient(90.77deg, #9A611C 5.58%, #F3C436 31.97%, #FFFFFF 53.09%, #F3C436 70.42%, #9A611C 97.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subtitle {
  color: rgba(255, 255, 255, 0.7);
}

.subtitle span {
  color: #ffffff;
  font-weight: 700;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Libre";
  src: url("../fonts/LibreCaslonText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre";
  src: url("../fonts/LibreCaslonText-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Ultra-Compressed.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000000;
  z-index: 1000;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  padding-top: 18px;
  padding-bottom: 15px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu__item-link {
  color: #ffffff;
}

.menu__item-link:hover {
  color: #F3C436;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.menu__social svg:hover .menu__social-path {
  fill: #F3C436;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.burger {
  display: none;
  cursor: pointer;
}

.section__about {
  position: relative;
}

.about__image {
  position: absolute;
  top: 0;
  right: 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 785px;
  padding-top: 240px;
}

.about__title {
  font-family: "Libre";
  font-weight: 400;
  font-size: 105px;
  line-height: 117px;
}

.about__title span {
  background: -o-linear-gradient(181.99deg, #F3C436 -0.33%, #9A611C 10.91%, #F3C436 42.81%, #FFFFFF 56.6%, #F3C436 65.79%, #9A611C 97.69%);
  background: linear-gradient(268.01deg, #F3C436 -0.33%, #9A611C 10.91%, #F3C436 42.81%, #FFFFFF 56.6%, #F3C436 65.79%, #9A611C 97.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about__subtitle {
  padding-top: 10px;
  max-width: 700px;
}

.about__btn {
  margin-top: 62px;
}

.section__join {
  margin-top: 310px;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 65px;
}

.join__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__heading-subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.join__heading-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
}

.join__mint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.mint {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
  background: rgba(196, 196, 196, 0.11);
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mint__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 20px;
}

.mint__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mint__row-text {
  font-weight: 700;
}

.mint__row-number {
  font-weight: 700;
  font-size: 38px;
  line-height: 30px;
}

.mint__btn {
  margin-top: 35px;
  -ms-flex-item-align: center;
      align-self: center;
}

.mint__warning {
  margin-top: 30px;
  text-align: center;
  color: #B2B2B2;
}

.mint__warning a {
  color: #F3C436;
}

.mint__warning a:hover {
  color: #E2AD3D;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.counter {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

.counter__item {
  position: relative;
  float: left;
  width: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__item.counter__item-max {
  width: 76px;
  margin-left: 116px;
}

.counter__minus,
.counter__plus {
  cursor: pointer;
}

.counter__max {
  padding: 5px 18px;
  color: #292626;
  background: #FFFFFF;
  border-radius: 54px;
  font-weight: 700;
  cursor: pointer;
}

.counter__max:hover {
  background-color: #F3C436;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.counter__value {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 0;
  width: 100%;
  font-weight: 700;
  font-size: 38px;
  font-family: "Open Sans";
  color: #ffffff;
  text-align: center;
  outline: none;
  background: none;
}

.section__why {
  margin-top: 163px;
}

.why__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__heading-subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.why__heading-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
}

.why__ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(196, 196, 196, 0.11);
  border-left: 3px solid transparent;
  -o-border-image: -o-linear-gradient(top, #9A611C 6.62%, #F3C436 40.28%, #FFFFFF 46.55%, #F3C436 57.75%, #9A611C 81.38%);
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(6.62%, #9A611C), color-stop(40.28%, #F3C436), color-stop(46.55%, #FFFFFF), color-stop(57.75%, #F3C436), color-stop(81.38%, #9A611C));
     border-image: linear-gradient(180deg, #9A611C 6.62%, #F3C436 40.28%, #FFFFFF 46.55%, #F3C436 57.75%, #9A611C 81.38%);
  border-image-slice: 1;
  padding-left: 57px;
  margin-top: 30px;
  position: relative;
}

.ticket__text {
  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  max-width: 502px;
}

.ticket__text span {
  color: #F3C436;
}

.ticket__info {
  padding: 77px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 495px;
}

.ticket__info-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ticket__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.ticket__more {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: -9%;
}

.ticket__btn {
  padding: 37px 82.5px;
}

.section__rarity {
  margin-top: 102px;
}

.rarity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rarity__img {
  position: relative;
}

.rarity__img-absolute {
  position: absolute;
  top: -2%;
  left: -48%;
  z-index: -1;
}

.rarity__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
}

.rarity__subtitle.rarity__subtitle-top {
  margin: 10px 0 30px;
}

.rarity__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.rarity__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.rarity__item-number {
  color: #E99A71;
  font-family: "Helvetica";
  font-size: 72px;
  line-height: 60px;
}

.rarity__item-text {
  font-weight: 700;
}

.section__roadmap {
  margin-top: 125px;
  background: url("../img/roadmap__bg.png") 50% 0%/auto no-repeat;
}

.roadmap__title {
  text-align: center;
}

.roadmap__subtitle {
  max-width: 850px;
  text-align: center;
  margin: 20px auto 0;
}

.chain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.chain__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 500px;
}

.chain__block-left {
  margin-top: 460px;
}

.chain__block-right {
  margin-top: 105px;
}

.chain__item-title {
  font-size: 71px;
  line-height: 75px;
  font-family: "Libre";
}

.chain__item-title span {
  color: #F3C436;
}

.chain__item-text {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 160%;
  color: #BABABA;
  margin-top: 10px;
}

.chain__item-text a {
  color: #F3C436;
}

.chain__item-text a:hover {
  color: #E2AD3D;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.section__team {
  margin-top: 30px;
  background: url("../img/gold__line.png") 50% 56%/auto 73px no-repeat;
}

.team__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.team__heading-title {
  min-width: 704px;
}

.team__heading-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.swiper {
  margin-top: 55px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.slide__title {
  font-family: "Libre";
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  margin-top: 30px;
}

.slide__founder {
  font-weight: 700;
  color: #F3C436;
  margin-top: 10px;
}

.slide__text {
  text-align: center;
  padding: 0 10px;
  margin-top: 20px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: #ffffff;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F3C436;
}

.section__questions {
  margin-top: 160px;
}

.questions {
  position: relative;
}

.questions__img {
  position: absolute;
  top: 550px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.questions__title {
  text-align: center;
}

.accordion__wrapper {
  margin-top: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 480px;
}

.accordion__item {
  background: rgba(20, 20, 20, 0.5);
}

.accordion__item.accordion__item-active .accordion__item-content {
  display: block;
}

.accordion__item.accordion__item-active .trigger__img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 2px;
}

.accordion__item-trigger {
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.trigger__text {
  font-weight: 700;
}

.trigger__img {
  max-height: 30px;
  position: relative;
  margin-left: auto;
}

.accordion__item-content {
  padding: 10px 30px 20px;
  display: none;
  -webkit-animation: fade 0.3s ease;
          animation: fade 0.3s ease;
}

.section__footer {
  margin-top: 260px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-family: "Libre";
  font-weight: 700;
  font-size: 60px;
  line-height: 63px;
}

.footer__title span {
  background: -o-linear-gradient(180.24deg, #9A611C -7.54%, #F3C436 27.95%, #FFFFFF 43.75%, #F3C436 63.1%, #9A611C 101.94%);
  background: linear-gradient(269.76deg, #9A611C -7.54%, #F3C436 27.95%, #FFFFFF 43.75%, #F3C436 63.1%, #9A611C 101.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer__hop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
  margin-top: 40px;
}

.footer__hop svg:hover .footer__hop-path {
  fill: #F3C436;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.footer__logo {
  margin-top: 90px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-top: 39px;
}

.footer__social svg:hover .footer__social-path {
  fill: #F3C436;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.footer__copyright {
  color: #B2B2B2;
  margin: 90px 0 32px;
}

.footer__copyright span {
  color: #F3C436;
}

@media (max-width: 1699.98px) {
  .about__image {
    max-width: 950px;
  }

  .about {
    max-width: 670px;
  }

  .about__title {
    font-size: 90px;
    line-height: 102px;
  }
}

@media (max-width: 1449.98px) {
  .btn {
    padding: 13px 40px;
  }

  .title {
    font-size: 82px;
  }

  .about__image {
    max-width: 800px;
  }

  .about {
    padding-top: 130px;
    max-width: 566px;
  }

  .about__btn {
    margin-top: 40px;
  }

  .section__join {
    margin-top: 200px;
  }

  .join__mint {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 85px;
  }

  .join__img {
    max-width: 500px;
  }

  .mint {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    max-width: 560px;
  }

  .counter__item.counter__item-max {
    margin-left: 65px;
  }

  .section__why {
    margin-top: 130px;
  }

  .ticket__text {
    font-size: 26px;
    line-height: 36px;
    max-width: 400px;
  }

  .ticket__info {
    max-width: 400px;
    padding: 67px 0;
  }

  .ticket__info-heading {
    gap: 15px;
  }

  .ticket__more {
    right: -130px;
  }

  .ticket__btn {
    padding: 37px 82.5px;
  }

  .rarity__img-relative {
    max-width: 450px;
  }

  .rarity__img-absolute {
    max-width: 920px;
    left: -52%;
    top: -5%;
  }

  .section__roadmap {
    background: url("../img/roadmap__bg.png") 50% 100%/1200px no-repeat;
  }

  .section__team {
    background: url("../img/gold__line.png") 50% 55%/auto 73px no-repeat;
  }

  .team__heading-title {
    min-width: 646px;
  }

  .questions__img {
    max-width: 500px;
    top: 480px;
    opacity: 0.85;
  }

  .accordion {
    max-width: 440px;
  }

  .section__footer {
    margin-top: 200px;
  }

  .footer__title {
    font-size: 54px;
    line-height: 58px;
  }
}

@media (max-width: 1199.98px) {
  main {
    margin-top: 93px;
  }

  .navbar {
    gap: 40px;
  }

  .logo img {
    max-width: 200px;
  }

  .menu__links {
    gap: 30px;
  }

  .menu__item-link {
    font-size: 16px;
  }

  .menu__right {
    gap: 25px;
  }

  .menu__social {
    gap: 20px;
  }

  .about__image {
    max-width: 680px;
  }

  .about {
    max-width: 460px;
    padding-top: 95px;
  }

  .about__title {
    font-size: 75px;
    line-height: 87px;
  }

  .about__btn {
    margin-top: 30px;
  }

  .join__mint {
    gap: 50px;
  }

  .join__img {
    max-width: 330px;
  }

  .why__ticket {
    gap: 70px;
    padding-left: 40px;
  }

  .ticket__text {
    font-size: 24px;
    max-width: 360px;
  }

  .ticket__info {
    max-width: 340px;
  }

  .section__rarity {
    margin-top: 150px;
  }

  .rarity__img {
    margin-left: 50px;
  }

  .rarity__img-relative {
    max-width: 350px;
  }

  .rarity__img-absolute {
    max-width: 750px;
    top: -7%;
    left: -57%;
  }

  .rarity__item-text {
    font-size: 16px;
  }

  .section__roadmap {
    background: url("../img/roadmap__bg.png") 50% 70%/980px no-repeat;
  }

  .chain {
    gap: 40px;
  }

  .chain__item-title {
    font-size: 65px;
  }

  .section__team {
    background: url("../img/gold__line.png") 50% 56%/auto 73px no-repeat;
  }

  .team__heading-title {
    max-width: 420px;
    min-width: auto;
  }

  .team__heading-subtitle {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 52%;
            flex: 0 1 52%;
  }

  .swiper {
    padding-bottom: 65px;
  }

  .slide__text {
    margin-top: 15px;
  }

  .accordion {
    max-width: 380px;
  }

  .accordion__item-trigger {
    padding: 15px 20px;
  }

  .trigger__text {
    font-size: 16px;
  }

  .accordion__item-content {
    padding: 10px 20px 20px;
  }

  .content__text {
    font-size: 16px;
  }

  .footer__social {
    gap: 20px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  main {
    margin-top: 87px;
  }

  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .navbar {
    gap: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__item-link {
    font-size: 18px;
  }

  .menu__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }

  .about__image {
    max-width: 510px;
  }

  .about {
    max-width: 370px;
    padding-top: 65px;
  }

  .about__title {
    font-size: 65px;
    line-height: 77px;
  }

  .about__subtitle {
    padding-top: 5px;
  }

  .about__btn {
    margin-top: 20px;
  }

  .section__join {
    margin-top: 150px;
  }

  .join__mint {
    gap: 25px;
  }

  .mint {
    padding: 35px;
    max-width: 370px;
  }

  .mint__title {
    font-size: 30px;
  }

  .mint__row-number {
    font-size: 28px;
  }

  .counter {
    gap: 12px;
  }

  .counter__item.counter__item-max {
    margin-left: 5px;
  }

  .section__why {
    margin-top: 90px;
  }

  .why__ticket {
    gap: 50px;
  }

  .ticket__text {
    max-width: 260px;
  }

  .ticket__info {
    max-width: 250px;
    padding: 64px 0;
  }

  .section__rarity {
    margin-top: 100px;
  }

  .rarity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 80px;
  }

  .rarity__img {
    margin: 0;
  }

  .rarity__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .rarity__subtitle {
    text-align: center;
    padding: 0 30px;
  }

  .rarity__subtitle.rarity__subtitle-top {
    margin: 30px 0 30px;
  }

  .rarity__numbers {
    margin-top: 50px;
    gap: 40px;
  }

  .section__roadmap {
    background: url("../img/roadmap__bg.png") 50% 75%/880px no-repeat;
    margin-top: 100px;
  }

  .chain__block {
    gap: 400px;
  }

  .chain__block-left {
    margin-top: 485px;
  }

  .chain__block-right {
    margin-top: 147px;
  }

  .chain__item-title {
    max-width: 250px;
    font-size: 50px;
    line-height: 60px;
  }

  .section__team {
    background: url("../img/gold__line.png") 50% 52%/auto 73px no-repeat;
    margin-top: 50px;
  }

  .team__heading-title {
    max-width: 300px;
  }

  .swiper {
    padding-bottom: 75px;
  }

  .slide__text {
    padding: 0 35px;
    font-size: 18px;
  }

  .section__questions {
    margin-top: 130px;
  }

  .questions__img {
    display: none;
  }

  .accordion__wrapper {
    margin-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .accordion {
    min-width: 100%;
  }

  .accordion__item {
    background: rgba(20, 20, 20, 0.8);
  }

  .accordion__item-trigger {
    padding: 15px 30px;
  }

  .trigger__text {
    font-size: 18px;
  }

  .accordion__item-content {
    padding: 10px 30px 20px;
  }

  .content__text {
    font-size: 18px;
  }

  .section__footer {
    margin-top: 150px;
  }

  .footer__title {
    font-size: 44px;
    line-height: 48px;
  }

  .footer__logo {
    max-width: 350px;
  }

  .footer__social {
    margin-top: 25px;
  }

  .footer__copyright {
    font-size: 16px;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background-color: #000000;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 193px;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    pointer-events: all;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
    padding-top: 29px;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
    width: 100%;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    width: 100%;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50%;
    background: #fff;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    border-radius: 1px;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
    right: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #fff;
    border-radius: 1px;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

@media screen and (max-width: 991.98px) and (max-width: 479.98px) {
  .menu.active {
    padding-top: 22px;
    gap: 20px;
    height: 338px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .menu__links {
    gap: 22px;
  }

  .section__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }

  .about__image {
    position: relative;
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 600px;
  }

  .about {
    margin: 0 auto;
    padding-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }

  .about__title {
    text-align: center;
  }

  .about__subtitle {
    text-align: center;
    padding-top: 20px;
    max-width: 90%;
  }

  .about__btn {
    margin-top: 33px;
  }

  .section__join {
    margin-top: 0;
  }

  .join {
    gap: 55px;
  }

  .join__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px;
  }

  .join__subtitle {
    text-align: center;
  }

  .join__title {
    text-align: center;
  }

  .join__mint {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 65px;
  }

  .join__img {
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  .mint {
    max-width: 440px;
  }

  .counter__item.counter__item-max {
    margin-left: 40px;
  }

  .why__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .why__subtitle {
    text-align: center;
  }

  .why__title {
    text-align: center;
  }

  .why__ticket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    border: none;
    padding: 50px 0 0;
    gap: 65px;
  }

  .ticket__text {
    max-width: 100%;
    padding: 0 30px;
    text-align: center;
  }

  .ticket__info {
    padding: 0 30px;
    max-width: 100%;
    gap: 26px;
  }

  .ticket__info-heading {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 26px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .ticket__info-text {
    text-align: center;
  }

  .ticket__more {
    position: relative;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    height: 108px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    width: 100%;
  }

  .ticket__btn {
    width: 100%;
    text-align: center;
  }

  .rarity__img-relative {
    max-width: 250px;
  }

  .rarity__img-absolute {
    max-width: 470px;
    top: 0;
    left: -45%;
  }

  .rarity__subtitle {
    padding: 0;
  }

  .rarity__numbers {
    gap: 18px;
  }

  .rarity__item {
    gap: 0;
  }

  .rarity__item-number {
    font-size: 60px;
  }

  .rarity__item-text {
    font-size: 14px;
  }

  .section__roadmap {
    background: url("../img/roadmap__bg.png") 50% 75%/700px no-repeat;
  }

  .chain {
    gap: 20px;
  }

  .chain__block {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }

  .chain__block-left {
    margin-top: 340px;
    margin-bottom: 30px;
  }

  .chain__block-right {
    margin-top: 70px;
    margin-bottom: 370px;
  }

  .chain__item-title {
    font-size: 40px;
    line-height: 50px;
    max-width: 150px;
  }

  .chain__item-text {
    font-size: 18px;
  }

  .chain__item-text a {
    word-break: break-all;
  }

  .chain__line {
    max-height: 1200px;
  }

  .section__team {
    margin-top: 80px;
  }

  .team__heading {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team__title {
    text-align: center;
  }

  .team__heading-subtitle {
    display: none;
  }

  .slide__text {
    font-size: 16px;
    padding: 0 10px;
  }

  .section__questions {
    margin-top: 100px;
  }

  .section__footer {
    margin-top: 120px;
  }
}

@media (max-width: 552px) {
  .section__team {
    background: url("../img/gold__line.png") 50% 50%/auto 73px no-repeat;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  main {
    margin-top: 74px;
  }

  .btn {
    font-size: 16px;
    line-height: 24px;
    padding: 12.5px 35.5px;
  }

  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 14px;
  }

  .logo img {
    max-width: 151px;
  }

  .menu__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }

  .menu__item-link {
    font-size: 16px;
  }

  .about__image {
    max-width: 440px;
  }

  .about__title {
    font-size: 55px;
    line-height: 67px;
  }

  .mint {
    max-width: 280px;
  }

  .mint__title {
    font-size: 20px;
    text-align: center;
  }

  .mint__row-text {
    font-size: 14px;
  }

  .mint__warning {
    font-size: 16px;
  }

  .counter {
    gap: 0px;
  }

  .counter__item {
    width: 26px;
  }

  .counter__item.counter__item-max {
    width: 40px;
    margin-left: 18px;
  }

  .counter__item img {
    width: 20px;
  }

  .counter__max {
    font-size: 14px;
    padding: 5px;
  }

  .counter__value {
    font-size: 30px;
  }

  .why__ticket {
    margin-top: 70px;
    gap: 50px;
  }

  .ticket__text {
    font-size: 20px;
    padding: 0 20px;
  }

  .ticket__info {
    padding: 0 20px;
  }

  .ticket__info-heading {
    gap: 20px;
  }

  .ticket__img {
    max-width: 65px;
  }

  .ticket__title {
    font-size: 22px;
  }

  .ticket__more {
    height: 78px;
  }

  .ticket__btn {
    padding: 22px 30.5px;
    font-size: 18px;
    line-height: 34px;
  }

  .rarity {
    gap: 60px;
  }

  .rarity__img {
    width: 100%;
    height: 456px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .rarity__img-absolute {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .rarity__numbers {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .rarity__item-number {
    font-size: 40px;
    line-height: 50px;
  }

  .rarity__item-text {
    font-size: 11px;
    line-height: 14px;
  }

  .section__roadmap {
    background: url("../img/roadmap__bg-mobile.png") 50% 55%/auto no-repeat;
  }

  .chain {
    gap: 15px;
  }

  .chain__block-left {
    margin-top: 280px;
  }

  .chain__block-right {
    margin-top: 45px;
    margin-bottom: 310px;
  }

  .chain__item-title {
    font-size: 35px;
    line-height: 42px;
    max-width: 125px;
  }

  .chain__item-text {
    font-size: 14px;
    margin-top: 5px;
  }

  .chain__line {
    max-height: 1000px;
  }

  .section__team {
    background: url("../img/gold__line.png") 50% 49%/auto 73px no-repeat;
  }

  .slide__image {
    max-width: 337px;
  }

  .slide__text {
    max-width: 280px;
  }

  .accordion__wrapper {
    margin-top: 50px;
  }

  .accordion {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .accordion__item-trigger {
    padding: 15px 20px;
    gap: 20px;
  }

  .trigger__text {
    font-size: 14px;
  }

  .accordion__item-content {
    padding: 5px 20px 20px;
  }

  .footer__title {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
  }

  .footer__hop {
    gap: 22px;
  }

  .footer__hop svg {
    max-width: 32px;
  }

  .footer__logo {
    max-width: 280px;
  }

  .footer__social {
    margin-top: 13px;
  }

  .footer__copyright {
    font-size: 14px;
    text-align: center;
  }
}